@model Orc.LicenseManager.Server.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicKey)
        </dt>

        <dd class="breakword">
            @Html.DisplayFor(model => model.PublicKey)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },  new { @class = "btn btn-sm btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>
